<p id="product_core_amount_field">
  <%= f.label :core_amount, t("core_amount") %> <br />
  <%= f.select :core_amount, [nil, 25.0, 50.0, 75.0, 100.0, 150.0, 200.0], :class => "text"  %>
  <%= f.error_message_on :core_amount %>
</p>
